<div class="beersp">
  <ul>

    <img src="{{this.image_url}}" alt="">
    <br>
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>

    <h3>Tagline: {{this.tagline}}</h3>
    <br>

  </ul>
</div>